<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSPhotos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20B080F72608C4A700C3E4C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20B0810D2608C4AC00C3E4C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20B081182608C4AC00C3E4C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
